body {
  background-color: rgb(32, 73, 159);
  font-family: sans-serif;
  margin: 0;
}

input {
  border: 0px;
  border-radius: 3px;
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  margin: 35px;
}
