.essay-edit-container {
  background-color: rgb(242, 245, 249);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 35px auto;
  padding: 30px 200px;
}

.essay-edit-textarea {
  border: none;
  border-radius: 3px;
  height: 160px;
  padding: 4px;
  resize: none;
  width: 400px;
}
