p,
.question-input {
  color: rgb(107, 110, 123);
}

.question-container {
  margin-bottom: 40px;
}

.question-input {
  border-color: rgb(242, 245, 249);
  height: 40px;
  padding: 0 10px;
  width: calc(100% - 20px);
}
